body::before {
  display: block;
  content: "";
  height: 72px;
}

#map {
  height: 100%;
  width: 100% !important;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
